# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

stages:
- stage: Build
  jobs:
  - job: FirstJob
    steps: 
    - bash: echo Build first Job bash
    - script: echo Build first Job script
      displayName: 'Run a line script'
  - job: SecondJob
    steps: 
    - bash: echo Build second Job bash only

- stage: DevDeploy
  dependsOn: Build
  jobs:
  - job: DevDeployJob
    steps: 
    - bash: echo deploy dev
  
- stage: QADeploy
  dependsOn: Build
  jobs:
  - job: QADeployJob
    steps: 
    - bash: echo deploy QA

- stage: PRDDeploy
  dependsOn: [DevDeploy,QADeploy]
  jobs:
  - job: PRDDeployJob
    steps: 
    - bash: echo deploy PROD
    